@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
  
  background-color:black;
  font-family: "Roboto" ;
}

/* Utility */

:root{
  --primary: #e7833b;
  --secondary: black;
  --accent: #fff;
  --light-secondary: #181616;
  --xlight-secondary:#1D1D1D;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
}

.fw-semibold{
  font-weight: var(--fw-400);
}

.fw-bold{
  font-weight: var(--fw-500);
}
.fw-extrabold{
  font-weight: var(--fw-700);
}
.fw-black{
  font-weight: var(--fw-900);
}


.flex{
  display: flex;
}

.grid{
  display: grid;
}

.right{
  margin-right:5%;
}

.left{
  margin-left:5%;
}

.container{
  width:100%;
  height:745px;
  /* background-color: red; */
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(147, 89, 13);
}



.logo-container{
  display: flex;
  align-items: center;
  /* margin-right:50px; */
  width:261px;
  /* margin:25px 20px */
}
.logo-container img{
  height: 50px;
}

.logo-container img:first-child{
  padding-right: 15px;
}


.nav{
  position: fixed;
  width:100%;
  z-index: 100;
  /* padding:20px 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding:20px 20px 0px 20px; */
  /* background-color: rgba(0,0,0,1); */

}

.inner-nav{
  width: 97%;
  align-items: center;
  justify-content: space-between;
  padding:20px 20px 20px 20px;

  background-color: rgba(0,0,0,1);
  
  /* box-shadow: 3px 0px 3px black; */
}



.inner-nav .menu{
  display: flex;
  padding:0px
}




.menu-item{
  color: var(--primary);
  padding:0px 13px;
  
  text-transform:uppercase;
  font-size: 11px;
  letter-spacing: 2.5px;
}

.menu-item a{
  text-decoration: none;
  color:var(--primary)
}

.menu-item a:hover{
  color:rgb(147, 89, 13);
  cursor: pointer;
}

.menu-item:hover{
  color:rgb(147, 89, 13);;
  cursor: pointer;

}


.sub-nav{
  position: fixed;
  width:97%;
  padding:0 0px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top:106px;
  margin-top: -10px;

  background-color: rgba(0,0,0,1);
  /* background-color: red; */
}

.sub-nav a{
  font-size:15px;
}

.advanced-search{
  /* width:inherit; */
  background-color: black;
  width: 100%;
  text-align: center;
  margin-top: -20px;

  padding:10px;
}

.search-container{
  height:calc(720px - 150px);
  padding-top: 150px;

  background-image: url(".\\assets\\HomePageBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  flex-direction: column;
  align-items: center;
}

.search-container h1{
  font-size: 40px;
  padding:0;
  margin: 0;
  margin-bottom:22px;

  color:var(--accent)
}

.search-container h1 span{
  color:var(--primary)
}

.search-box{
  width:500px;
  height:60px;
  border:3px solid var(--accent);
  border-radius:50px;
  margin:0px 0px;

  align-items: center;
  /* animation: search-animation 3000ms forwards ease-in-out; */
  
}

.search-box-s{
  height:50px;
  
}




.search-box img{
  margin: 0 20px;
}

.search-box input[type=text]{
  width:69%;
  height: 30px;
  border:none;
  background-color: transparent;
  color:var(--primary);
  font-size:22px;
  outline: none;
  text-align: center;
}

.search-box input[type=text]::placeholder{
  color:var(--primary)
}

.search-container .menu-item{
  font-size: 13px;
  letter-spacing: 4px;
  margin-top:22px;

}

.auto-recipes{
  background: rgba(0, 0, 0, 0.9);
  width: 400px;
  /* align-self: center; */
  border: 2px solid var(--accent);
  border-top:none;
  border-radius:  0 0 20px 20px;
  position:relative;
  z-index:101;

  top:0px;
  overflow:none;
}



.auto-recipes li{
  list-style: none;
  text-align: center;
  color: var(--primary);
  padding:10px;
  margin:0px;
  font-size: 15px;

}

.auto-recipes li:last-child{
  border-radius: 0 0 20px 20px;
}

.auto-recipes h2{
  margin: 0px;
}

.auto-recipes li:hover{
  /* background-color: rgb(41, 41, 41); */
  color:var(--accent);
  font-size: 16px;
  
}

.nav .auto-recipes{
  margin-top: -20px;
}

.featured-container{
  background-image: url(".\\assets\\FeaturedRecipesBackground.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* overflow-y: scroll; */
}

.featured-container h1{
  position: sticky;
  top:30px;
  color: var(--primary);
  margin-top: 50px;
  margin-bottom:50px
}

.featured-container .recipe{
  /* background-color: red; */
  width: 600px;
  width: auto;
  align-items: center;
  margin:20px 0px;
}

.recipe img{
  width: 320px;
  height: 210px;
  border-radius: 10px;

}

.recipe h2{
  width: 300px;
  line-height: 25px;
  margin:20px;
  color:var(--accent);
  text-transform:uppercase;
}

.recipe:nth-child(odd){
  flex-direction: row-reverse;
  text-align: right;
}


/* Login Page */
.login-container{
  background-image: url("./assets/loginBackground.jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.register-container{
  background-image: url("./assets/registerPageBackground.jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  flex-direction: column;
  align-items: flex-end;
  
  /* justify-content: center; */
}

.register-container .inner-container{
  position:absolute;
  top:120px;
}


.inner-container{
  padding: 0;
  /* background-color: red; */
  flex-direction: column;
  justify-content: center;
}

.register-container .inner-container input{
  margin-bottom: 20px;
}

.inner-container>*{
  margin-bottom: 18px;
  text-align: center;
}

.inner-container h1{
  padding: 0;
  margin:0;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: left;
  color: var(--accent);
  
}

.inner-container h3{
  padding:0;
  margin:0;
  color:var(--accent);
  text-transform: uppercase;
  text-align: right;
  font-size:9px;
  margin-top: -20px;
  margin-bottom: 17px;
}

.inner-container h1 span{
  color:var(--primary);
}



.inner-container i{
  color:var(--accent);
}

.socialmedia{
  align-self: center;
  justify-content: space-evenly;
  width: 200px;
}

.socialmedia i{
  font-size: 23px;
}

.inner-container button{
  background-color: transparent;
  outline: none;
  padding:7px;
  color:var(--accent);
  border: 2.5px solid var(--primary);
  border-radius:5px;  
  letter-spacing: 5px;
  width:180px;
  font-size: 13px;
  align-self: center;
}

.inner-container input{
  background-color: transparent;
  border:none;
  border-bottom: 3px solid var(--primary);
  width: 280px;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-bottom: 5px;
  color:var(--accent);
  text-align:left;
  font-size:20px;
}

input:focus{
  outline:none;
}

.inner-container input::placeholder{
  color:var(--accent)
}

.password-icon{
  padding:0;
  margin:0;
  font-size:20px;
  width:20px;
  /* position: relative; */
  /* top: -65px; */
  /* right:10px; */
  margin-top: -65px;
  margin-bottom: 50px;
  margin-left:265px;
  /* background-color: red; */

}


.main-container{
  /* background-color: red; */
  position: absolute;
  top:130px;
  width:100%;
}

.cont-recipe-info{
  /* height:150px; */
  height:auto;
  background-color: black;
  flex-direction: column;
}

.cont-recipe-info .cont-header{
  width:90%;
  padding:0 5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cont-header h1{
  color:var(--accent);
  max-width: 620px;

}

.cont-header .cont-recipe-time{
  color:var(--accent);
  font-size: 20px;
  font-weight: var(--fw-500);

}

.cont-recipe-time span{
  color:var(--primary);
  font-weight:var(--fw-700);
}

.cont-recipe-info .cont-body{
  /* background-color: blue; */
  width:90%;
  padding:0 5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cont-body .img-cont{

  width:600px;
  height:400px;
  overflow: hidden;
  border-radius: 20px;
  
}

.img-cont img{
  margin-top: -20px;
  margin-left:-20px;
  width: 620px;
  height:440px;

}

.cont-body .recipe-summary-cont{
  /* border:2px var(--primary) solid; */
  border-radius: 10px;
  width: 600px;
  height: 320px;
  /* background-color: red; */
  color: var(--accent);
  padding:40px;
  text-align: left;
  justify-content: center;
  flex-direction: column;

}

.recipe-summary-cont h2{
  font-size: 35px;
  color: var(--accent);
  font-weight: var(--fw-500);
  padding:0;
  margin: -15px 0 20px 0px;
  
}

.recipe-summary-cont h2 span{
  color:var(--primary);
}

.recipe-summary-cont .recipe-summary{
  text-align: justify;
  color: rgb(184, 181, 181);
}

.recipe-summary a{
  text-decoration: none;
  color:rgb(184, 181, 181);
}

.cont-nutrition-info{
  width:90%;
  padding:0 5%;
  margin-top:20px;
  background-color: black;
  height:300px;
  flex-direction: column;
  align-items: center;
}

.cont-nutrition-info h1{
  color:var(--primary);
  width:100%;
  text-align: center;
}

.cont-nutrition-info h1 span{
  color:var(--accent);
}

.cont-nutrition-info .nutritions{
  width: 85%;
  /* background-color: red; */
  margin-top:20px;
  flex-direction: row;

  justify-content: space-between;
}


.nutritions .nutrition{

  width: 180px;
  aspect-ratio: 1/1;
  background-color: var(--light-secondary);
  border: 4px solid var(--xlight-secondary);
  border-radius:50%;

  box-shadow: 4px 4px 15px rgba(0, 0, 0,0.25);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nutrition .nutrition-value{
  color:var(--accent);
  font-size:45px;
}

.nutrition .nutrition-name{
  font-size: 13px;
  text-align: center;
}

.cont-recipe-details{
  margin-top: 100px;
  height: auto;
  margin-bottom:200px;
}


.cont-recipe-details .recipe-ingredients-cont{
  width:35%;
  min-height: 400px;
  /* height: auto; */
  background-image:linear-gradient(-45deg,#070707 0%,#131212 50%,#070707 100%);
  border-radius: 0 40px 40px 0;
  box-shadow: 4px 4px 5px #000000;

  flex-direction: column;
}

.recipe-ingredients-cont h2{
  margin:0;
  color: var(--primary);
  font-size: 35px;
  margin-left: 50px;
  margin-top: 50px;
}


.recipe-ingredients-cont .recipe-ingredients{
  color:var(--accent);
  margin-top: 40px;
  margin-left:30px;
}

.recipe-ingredients li{
  width:90%;
  margin-bottom: 20px;
  font-size: 20px;
}

.cont-recipe-details .recipe-direction-cont{
  /* background-color: red; */
  width:47%;
  margin-left: 5%;
  color:var(--accent);
}

.recipe-direction-cont h2{
  color: var(--primary);
  font-size: 35px;
  margin-top: 50px;
}

.recipe-direction-cont .recipe-direction-steps{
  margin-top: 40px; 
  margin-left: 20px;

}
.recipe-direction-steps .step {
  margin-bottom:30px;
}
.step h3{
  color: var(--primary);
  margin-bottom:5px;
  padding: 0;
}

 .step p{
  margin: 0;
  padding: 0;
  text-align: justify;
}
